.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  width: 130px;
}

.tag.nao-iniciado {
  background-color: #E6E6E6;
  color: #333333;
}

.tag.em-andamento {
  background-color: #FFEAA4;
  color: #332F05;
}

.tag.em-recurso {
  background-color: #AEDDFF;
  color: #021F3D;
}

.tag.suspenso {
  background-color: #D9A8FF;
  color: #19022E;
}

.tag.encerrado {
  background-color: #80D18D;
  color: #012C07;
}