.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  padding: 8px;
  transition: all 0.2s;
  width: 100%;
  margin-top: 4px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.input::placeholder {
  color: var(--text-light-color);
  font-size: 16px;
}

.icon {
  color: var(--text-light-color);
}

.select {
  border: 1px solid var(--gray-color);
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--text-light-color);
  margin-top: 4px;
}