.btn {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn svg {
  fill: var(--primary-color);
}

.btn.primary {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 2px 2px 8px rgba(30,30,30,.2);
}

.btn.primary:hover {
  background-color: var(--secondary-color-hover);
}

.btn.primary:active {
  background-color: var(--secondary-color-focus);
  box-shadow: none;
}

.btn.secondary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.btn.secondary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.secondary:hover {
  background-color: var(--primary-color-focus);
  color: var(--white-color);
}

.btn.icon {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.btn.icon svg {
  fill: var(--primary-color);
}