.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: flex;
  gap: 32px;
}

.two-columns fieldset {
  flex: 1;
}

.form-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 500;
}

.form-link svg {
  fill: var(--primary-color);
}