.clientes-container .table-header:nth-child(1) {
  width: 210px;
}

.clientes-container .table-header:nth-child(2) {
  width: 200px;
}

.clientes-container .table-header:nth-child(3) {
  width: 200px;
}

.clientes-container .table-header:nth-child(4) {
  width: 200px;
}

.clientes-container .table-header:nth-child(5) {
  width: 180px;
}

.clientes-container .table-header:nth-child(6) {
  width: 80px;
}

.clientes-container .table-data:nth-child(1) {
  width: 210px;
}

.clientes-container .table-data:nth-child(2) {
  width: 200px;
}

.clientes-container .table-data:nth-child(3) {
  width: 200px;
}

.clientes-container .table-data:nth-child(4) {
  width: 200px;
}

.clientes-container .table-data:nth-child(5) {
  width: 180px;
}