:root {
  --primary-color: #1a2a40;
  --primary-color-focus: #132238;
  --secondary-color: #a9c4ea;
  --secondary-color-hover: #6BA2F0;
  --secondary-color-focus: #5494ED;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #c9c9c9;
  --highlight-color_gold: #c5a46d;
  --highlight-color_red: #7a1e27;
  --text-color: #4a4a4a;
  --text-light-color: #747474;
  --bg-color: #f5f6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

fieldset {
  border: none;
  margin-bottom: 15px;
}

.error {
  border-color: var(--highlight-color_red);
  color: var(--highlight-color_red);
}

.error input::placeholder {
  color: var(--highlight-color_red);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;
}

header h1 {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

fieldset div {
  display: flex;
  gap: 4px;
  width: 100%;
}

fieldset div select,
fieldset div input {
  width: 100%;
}

.columns {
  display: flex;
  gap: 16px;
  min-width: 0;
}

.columns fieldset {
  flex: 1;
}

.columns fieldset {
  flex: 1;
  min-width: 0;
}

.columns fieldset.bigger, .columns fieldset.bigger {
  flex: 2;
}

.form-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 500;
}

.form-link svg {
  fill: var(--primary-color);
}

.form-error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  margin-top: 16px;
}

.form-error, .form-error svg {
  fill: var(--highlight-color_red);
  color: var(--highlight-color_red);
}

.table-container {
  width: 100%;
  margin-top: 32px;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.table-head {
  width: 100%;
}

.table-head tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
}

.table-header {
  font-size: 18px;
  color: var(--primary-color);
  padding: 16px 0;
}


.table-body {
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  padding: 16px 0;
  width: 100%;
  height: 510px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}

.table-data {
  color: var(--text-color);
  text-align: center;
  padding: 16px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.table-data.action-cell {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-data .table-data {
  width: auto !important;
  font-size: 18px;
}

.pagination-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.pagination-container .btn.icon svg {
  fill: var(--text-light-color);
}

.page-info {
  color: var(--text-light-color);
}