:root {
  --primary-color: #1a2a40;
  --primary-color-focus: #132238;
  --secondary-color: #a9c4ea;
  --secondary-color-hover: #6BA2F0;
  --secondary-color-focus: #5494ED;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #c9c9c9;
  --highlight-color_gold: #c5a46d;
  --highlight-color_red: #7a1e27;
  --text-color: #4a4a4a;
  --text-light-color: #747474;
  --bg-color: #f5f6f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

fieldset {
  border: none;
  margin-bottom: 15px;
}